<div class="container mt-3">
  <div class="row border border-bottom bg-light shadow rounded">
    <div class="col-sm-12">
      <div class="points">
        <% @point.each do |point| %>
        <div class="point clearfix">
          <div class="point-details">
            <span class="point-title"><%= link_to point.name, point %></span>
            <span class="point-description"><%= point.ccosto %></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
